   /* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
      background-color: #000;
      color: red;
    }
    
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    /*.row.content {height: 450px}*/
    
    /* Set gray background color and 100% height */
    .sidenav {
      padding-top: 20px;
      background-color: #f1f1f1;
      height: 100%;
    }
    

    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      /*padding: 15px;*/
    }
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      form  { display: table;      }
      p     { display: table-row;  }
      label { display: table-cell; }
      input { display: table-cell; }

      .row.content {height:auto;} 
    }
    h3 { 
      font-weight: bold;
    }

    .infoArea {
        padding:10px ;
        background:#f4e092;
        webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        border-radius: 20px;
        margin:0 auto;
        overflow:hidden;
    }

  .displayValueForGraph { 
    font-weight: bold;
    background-color: #ffffff;
    width: 180px;
  }
  .labelForGraphInfo {
    display: inline-block;
    width: 45px;
    text-align: right;
  }​
      .displayValue { 
      font-weight: bold;
      background-color: #ffffff;
    }
    .labelColumn {
      display: inline-block;
      width: 60px;
      text-align: right;
    }​
    .constantValue { 
      font-weight: bold;
      background-color: #ffffff;
      width: 80px;
    }
    .decrease {
    }
    .increase {

    }
